<navbar></navbar>
  <div class="content-page">
    <section class="custom-data">
      <div class="stat-options">
        <button class="option-button" ng-click="stats.statsFields.Offense = !stats.statsFields.Offense" ng-class="{'btn_on':stats.statsFields.Offense, 'btn_off':!stats.statsFields.Offense}">Offense</button>
        <button class="option-button" ng-click="stats.statsFields.Defense = !stats.statsFields.Defense" ng-class="{'btn_on':stats.statsFields.Defense, 'btn_off':!stats.statsFields.Defense}">Defense</button>
        <button class="option-button" ng-click="stats.statsFields.Special = !stats.statsFields.Special" ng-class="{'btn_on':stats.statsFields.Special, 'btn_off':!stats.statsFields.Special}">Special Teams</button>
        <button class="option-button" ng-click="stats.statsFields.Situational = !stats.statsFields.Situational" ng-class="{'btn_on':stats.statsFields.Situational, 'btn_off':!stats.statsFields.Situational}">Situational</button>
      </div>
    </section>
    <div class="wrapper">
      <div class="table">
        <div class="row header">
          <div class="cell left" id="teamHead">
            <a href="#" ng-click="stats.orderByField='Team'; stats.reverseSort = !stats.reverseSort">
          Team <span ng-show="stats.orderByField == 'Team'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
            </a>
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            <a href="#" ng-click="stats.orderByField='OffensiveYards'; stats.reverseSort = !stats.reverseSort">
              Off Yards 
            </a>
              <span ng-show="stats.orderByField == 'Offense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            <a href="#" ng-click="stats.orderByField='PassingYards'; stats.reverseSort = !stats.reverseSort">
              Pass Yards 
            </a>
              <span ng-show="stats.orderByField == 'Offense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            <a href="#" ng-click="stats.orderByField='PassingYardsPerAttempt'; stats.reverseSort = !stats.reverseSort">
              Pass Yards Per Att
            </a>
              <span ng-show="stats.orderByField == 'Offense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            <a href="#" ng-click="stats.orderByField='PassingTouchdowns'; stats.reverseSort = !stats.reverseSort">
              Pass Touchdowns 
            </a>
              <span ng-show="stats.orderByField == 'Offense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            <a href="#" ng-click="stats.orderByField='PasserRating'; stats.reverseSort = !stats.reverseSort">
              Passer Rtg
            </a>
              <span ng-show="stats.orderByField == 'Offense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            <a href="#" ng-click="stats.orderByField='CompletionPercentage'; stats.reverseSort = !stats.reverseSort">
              Completion %
            </a>
              <span ng-show="stats.orderByField == 'Offense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            <a href="#" ng-click="stats.orderByField='RushingYards'; stats.reverseSort = !stats.reverseSort">
              Rush Yards
            </a>
              <span ng-show="stats.orderByField == 'Offense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            <a href="#" ng-click="stats.orderByField='RushingYardsPerAttempt'; stats.reverseSort = !stats.reverseSort">
              Rush Yards Per Att
            </a>
              <span ng-show="stats.orderByField == 'Offense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            <a href="#" ng-click="stats.orderByField='RushingTouchdowns'; stats.reverseSort = !stats.reverseSort">
              Rushing TDs
            </a>
              <span ng-show="stats.orderByField == 'Offense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            <a href="#" ng-click="stats.orderByField='TotalScore'; stats.reverseSort = !stats.reverseSort">
              Total Score
            </a>
              <span ng-show="stats.orderByField == 'Offense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>       
          <div class="cell" ng-if="stats.statsFields.Defense">
            <a href="#" ng-click="stats.orderByField='OpponentPassingYards'; stats.reverseSort = !stats.reverseSort">
              Opponent Passing Yards
            </a>
              <span ng-show="stats.orderByField == 'Defense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            <a href="#" ng-click="stats.orderByField='OpponentRushingYards'; stats.reverseSort = !stats.reverseSort">
              OpponentRushingYards 
            </a>
              <span ng-show="stats.orderByField == 'Defense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            <a href="#" ng-click="stats.orderByField='OpponentFirstDowns'; stats.reverseSort = !stats.reverseSort">
             OpponentFirstDowns
            </a>
              <span ng-show="stats.orderByField == 'Defense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            <a href="#" ng-click="stats.orderByField='Sacks'; stats.reverseSort = !stats.reverseSort">
             Sacks
            </a>
              <span ng-show="stats.orderByField == 'Defense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            <a href="#" ng-click="stats.orderByField='QuarterbackHits'; stats.reverseSort = !stats.reverseSort">
              Quarterback Hits
            </a>
              <span ng-show="stats.orderByField == 'Defense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            <a href="#" ng-click="stats.orderByField='TacklesForLoss'; stats.reverseSort = !stats.reverseSort">
              Tackles For Loss
            </a>
              <span ng-show="stats.orderByField == 'Defense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            <a href="#" ng-click="stats.orderByField='Takeaways'; stats.reverseSort = !stats.reverseSort">
              Takeaways
            </a>
              <span ng-show="stats.orderByField == 'Defense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            <a href="#" ng-click="stats.orderByField='FumblesForced'; stats.reverseSort = !stats.reverseSort">
              Fumbles Forced
            </a>
              <span ng-show="stats.orderByField == 'Defense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            <a href="#" ng-click="stats.orderByField='PassesDefended'; stats.reverseSort = !stats.reverseSort">
              Passes Defended
            </a>
              <span ng-show="stats.orderByField == 'Defense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            <a href="#" ng-click="stats.orderByField='OpponentScore'; stats.reverseSort = !stats.reverseSort">
              Opponent Score
            </a>
              <span ng-show="stats.orderByField == 'Defense'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>    

          <!--Start of special teams view-->
          <div class="cell" ng-if="stats.statsFields.Special">
            <a href="#" ng-click="stats.orderByField='ReturnYards'; stats.reverseSort = !stats.reverseSort">
              ReturnYards 
            </a>
              <span ng-show="stats.orderByField == 'Special'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            <a href="#" ng-click="stats.orderByField='PuntReturnYards'; stats.reverseSort = !stats.reverseSort">
             PuntReturnYards
            </a>
              <span ng-show="stats.orderByField == 'Special'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            <a href="#" ng-click="stats.orderByField='KickReturnYards'; stats.reverseSort = !stats.reverseSort">
             KickReturnYards
            </a>
              <span ng-show="stats.orderByField == 'Special'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            <a href="#" ng-click="stats.orderByField='KickReturnLong'; stats.reverseSort = !stats.reverseSort">
              KickReturnLong
            </a>
              <span ng-show="stats.orderByField == 'Special'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            <a href="#" ng-click="stats.orderByField='PuntAverage'; stats.reverseSort = !stats.reverseSort">
              PuntAverage
            </a>
              <span ng-show="stats.orderByField == 'Special'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            <a href="#" ng-click="stats.orderByField='PuntNetAverage'; stats.reverseSort = !stats.reverseSort">
              PuntNetAverage
            </a>
              <span ng-show="stats.orderByField == 'Special'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            <a href="#" ng-click="stats.orderByField='FieldGoalAttempts'; stats.reverseSort = !stats.reverseSort">
              FieldGoalAttempts
            </a>
              <span ng-show="stats.orderByField == 'Special'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            <a href="#" ng-click="stats.orderByField='FieldGoalsMade'; stats.reverseSort = !stats.reverseSort">
              FieldGoalsMade
            </a>
              <span ng-show="stats.orderByField == 'Special'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>
          
          <!--Situational-->
          <div class="cell" ng-if="stats.statsFields.Situational">
            <a href="#" ng-click="stats.orderByField='RedZoneAttempts'; stats.reverseSort = !stats.reverseSort">
              RedZoneAttempts
            </a>
              <span ng-show="stats.orderByField == 'Situational'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>   
          <div class="cell" ng-if="stats.statsFields.Situational">
            <a href="#" ng-click="stats.orderByField='RedZonePercentage'; stats.reverseSort = !stats.reverseSort">
              RedZonePercentage
            </a>
              <span ng-show="stats.orderByField == 'Situational'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>  
          <div class="cell" ng-if="stats.statsFields.Situational">
            <a href="#" ng-click="stats.orderByField='ThirdDownAttempts'; stats.reverseSort = !stats.reverseSort">
              ThirdDownAttempts
            </a>
              <span ng-show="stats.orderByField == 'Situational'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>   
          <div class="cell" ng-if="stats.statsFields.Situational">
            <a href="#" ng-click="stats.orderByField='ThirdDownPercentage'; stats.reverseSort = !stats.reverseSort">
              ThirdDownPercentage
            </a>
              <span ng-show="stats.orderByField == 'Situational'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>  
          <div class="cell" ng-if="stats.statsFields.Situational">
            <a href="#" ng-click="stats.orderByField='FourthDownAttempts'; stats.reverseSort = !stats.reverseSort">
              FourthDownAttempts
            </a>
              <span ng-show="stats.orderByField == 'Situational'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>  
          <div class="cell" ng-if="stats.statsFields.Situational">
            <a href="#" ng-click="stats.orderByField='FourthDownPercentage'; stats.reverseSort = !stats.reverseSort">
              FourthDownPercentage
            </a>
              <span ng-show="stats.orderByField == 'Situational'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>  
          <div class="cell" ng-if="stats.statsFields.Situational">
            <a href="#" ng-click="stats.orderByField='GoalToGoAttempts'; stats.reverseSort = !stats.reverseSort">
              GoalToGoAttempts
            </a>
              <span ng-show="stats.orderByField == 'Situational'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>  
          <div class="cell" ng-if="stats.statsFields.Situational">
            <a href="#" ng-click="stats.orderByField='GoalToGoPercentage'; stats.reverseSort = !stats.reverseSort">
              GoalToGoPercentage
            </a>
              <span ng-show="stats.orderByField == 'Situational'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>  
          <div class="cell" ng-if="stats.statsFields.Situational">
            <a href="#" ng-click="stats.orderByField='TurnoverDifferential'; stats.reverseSort = !stats.reverseSort">
              TurnoverDifferential
            </a>
              <span ng-show="stats.orderByField == 'Situational'">
                  <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
                  <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
              </span>
          </div>  
        </div>

        <div class="row" ng-repeat="Team in stats.teams|orderBy:stats.orderByField:stats.reverseSort">
          <div class="cell left" id="teamCell">
            <a ui-sref="teamPage({index: Team.Team})">{{Team.TeamName}}</a>
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            {{Team.OffensiveYards}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            {{Team.PassingYards}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            {{Team.PassingYardsPerAttempt}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            {{Team.PassingTouchdowns}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            {{Team.PasserRating}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            {{Team.CompletionPercentage}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            {{Team.RushingYards}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            {{Team.RushingYardsPerAttempt}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            {{Team.RushingTouchdowns}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Offense">
            {{Team.TotalScore}}
          </div>

          <div class="cell" ng-if="stats.statsFields.Defense">
            {{Team.OpponentPassingYards}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            {{Team.OpponentRushingYards}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            {{Team.OpponentFirstDowns}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            {{Team.Sacks}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            {{Team.QuarterbackHits}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            {{Team.TacklesForLoss}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            {{Team.Takeaways}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            {{Team.FumblesForced}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            {{Team.PassesDefended}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Defense">
            {{Team.OpponentScore}}
          </div>

          <div class="cell" ng-if="stats.statsFields.Special">
            {{Team.ReturnYards}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            {{Team.PuntReturnYards}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            {{Team.KickReturnYards}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            {{Team.KickReturnLong}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            {{Team.PuntAverage}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            {{Team.PuntNetAverage}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            {{Team.FieldGoalAttempts}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Special">
            {{Team.FieldGoalsMade}}
          </div>

          <div class="cell" ng-if="stats.statsFields.Situational">
            {{Team.RedZoneAttempts}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Situational">
            {{Team.RedZonePercentage}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Situational">
            {{Team.ThirdDownAttempts}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Situational">
            {{Team.ThirdDownPercentage}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Situational">
            {{Team.FourthDownAttempts}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Situational">
            {{Team.FourthDownPercentage}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Situational">
            {{Team.GoalToGoAttempts}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Situational">
            {{Team.GoalToGoPercentage}}
          </div>
          <div class="cell" ng-if="stats.statsFields.Situational">
            {{Team.TurnoverDifferential}}
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <navbar></navbar>
  <div class="content-page">
    <section class="custom-data">
      <div class="stat-options">
        <button class="option-button" ng-click="stats.statsFields.PassingYards = !stats.statsFields.PassingYards" ng-class="{'btn_on':stats.statsFields.PassingYards, 'btn_off':!stats.statsFields.PassingYards}">Passing Yards</button>
        <button class="option-button" ng-click="stats.statsFields.RushingYards = !stats.statsFields.RushingYards" ng-class="{'btn_on':stats.statsFields.RushingYards, 'btn_off':!stats.statsFields.RushingYards}">Rushing Yards</button>
        <button class="option-button" ng-click="stats.statsFields.Score = !stats.statsFields.Score" ng-class="{'btn_on':stats.statsFields.Score, 'btn_off':!stats.statsFields.Score}">Total Points</button>
        <button class="option-button" ng-click="stats.statsFields.Touchdowns = !stats.statsFields.Touchdowns" ng-class="{'btn_on':stats.statsFields.Touchdowns, 'btn_off':!stats.statsFields.Touchdowns}">TD's</button>
        <button class="option-button" ng-click="stats.statsFields.TurnoverDifferential = !stats.statsFields.TurnoverDifferential" ng-class="{'btn_on':stats.statsFields.TurnoverDifferential, 'btn_off':!stats.statsFields.TurnoverDifferential}">TO Differential</button>
        <button class="option-button" ng-click="stats.statsFields.OffensiveYards = !stats.statsFields.OffensiveYards" ng-class="{'btn_on':stats.statsFields.OffensiveYards, 'btn_off':!stats.statsFields.OffensiveYards}">Off Yards</button>
        <button class="option-button" ng-click="stats.statsFields.OffensiveYardsPerPlay = !stats.statsFields.OffensiveYardsPerPlay" ng-class="{'btn_on':stats.statsFields.OffensiveYardsPerPlay, 'btn_off':!stats.statsFields.OffensiveYardsPerPlay}">Off Yards/Play</button>
        <button class="option-button" ng-click="stats.statsFields.PassingYardsPerAttempt = !stats.statsFields.PassingYardsPerAttempt" ng-class="{'btn_on':stats.statsFields.PassingYardsPerAttempt, 'btn_off':!stats.statsFields.PassingYardsPerAttempt}">Passing Yards/Att</button>
        <button class="option-button" ng-click="stats.statsFields.PasserRating = !stats.statsFields.PasserRating" ng-class="{'btn_on':stats.statsFields.PasserRating, 'btn_off':!stats.statsFields.PasserRating}">Passer Rtg</button>
        <button class="option-button" ng-click="stats.statsFields.ThirdDownPercentage = !stats.statsFields.ThirdDownPercentage" ng-class="{'btn_on':stats.statsFields.ThirdDownPercentage, 'btn_off':!stats.statsFields.ThirdDownPercentage}">3rd Down %</button>
        <button class="option-button" ng-click="stats.statsFields.FirstDowns = !stats.statsFields.FirstDowns" ng-class="{'btn_on':stats.statsFields.FirstDowns, 'btn_off':!stats.statsFields.FirstDowns}">1st downs</button>
        <button class="option-button" ng-click="stats.statsFields.Penalties = !stats.statsFields.Penalties" ng-class="{'btn_on':stats.statsFields.Penalties, 'btn_off':!stats.statsFields.Penalties}">Penalties</button>
      </div> 
    </section>

<div class="wrapper">
  <div class="table">
    <div class="row header">
      <div class="cell left" id="teamHead">
        <a href="#" ng-click="stats.orderByField='Team'; stats.reverseSort = !stats.reverseSort">
        Team <span ng-show="stats.orderByField == 'Team'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
        </a>
      </div>
      <div class="cell" ng-if="stats.statsFields.PassingYards">
        <a href="#" ng-click="stats.orderByField='PassingYards'; stats.reverseSort = false">
          Passing Yards 
        </a>
          <span ng-show="stats.orderByField == 'PassingYards'">
              <span ng-show="!stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">v</span>
              <span ng-show="stats.reverseSort" ng-click="reverseSort = !stats.reverseSort">^</span>
          </span>
      </div>

      <div class="cell" ng-if="stats.statsFields.RushingYards">
        <a href="#" ng-click="stats.orderByField='RushingYards'; stats.reverseSort = !stats.reverseSort">
        Rushing Yards <span ng-show="stats.orderByField == 'RushingYards'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
        </a>
      </div>
      <div class="cell" ng-if="stats.statsFields.Score">
        <a href="#" ng-click="stats.orderByField='Score'; stats.reverseSort = !stats.reverseSort" >
        Total Points <span ng-show="stats.orderByField == 'Score'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
        </a>
      </div>
      <div class="cell" ng-if="stats.statsFields.Touchdowns">
        <a href="#" ng-click="stats.orderByField='Touchdowns'; stats.reverseSort = !stats.reverseSort">
          TD's <span ng-show="stats.orderByField == 'Touchdowns'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
        </a>
      </div>
      <div class="cell" ng-if="stats.statsFields.TurnoverDifferential">
        <a href="#" ng-click="stats.orderByField='TurnoverDifferential'; stats.reverseSort = !stats.reverseSort">
        TO Differential <span ng-show="stats.orderByField == 'TurnoverDifferential'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
        </a>
      </div>
      <div class="cell" ng-if="stats.statsFields.OffensiveYards">
        <a href="#" ng-click="stats.orderByField='OffensiveYards'; stats.reverseSort = !stats.reverseSort">
        Offensive Yards <span ng-show="stats.orderByField == 'OffensiveYards'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
        </a>
      </div>
      <div class="cell" ng-if="stats.statsFields.OffensiveYardsPerPlay">
        <a href="#" ng-click="stats.orderByField='OffensiveYardsPerPlay'; stats.reverseSort = !stats.reverseSort">
        Offensive Yards Per Play<span ng-show="stats.orderByField == 'OffensiveYardsPerPlay'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
        </a>
      </div>
      <div class="cell" ng-if="stats.statsFields.PassingYardsPerAttempt">
        <a href="#" ng-click="stats.orderByField='PassingYardsPerAttempt'; stats.reverseSort = !stats.reverseSort">
        Passing Yards Per Attempt <span ng-show="stats.orderByField == 'PassingYardsPerAttempt'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
        </a>
      </div>
      <div class="cell" ng-if="stats.statsFields.PasserRating">
        <a href="#" ng-click="stats.orderByField='PasserRating'; stats.reverseSort = !stats.reverseSort">
        Passer Rtg <span ng-show="stats.orderByField == 'PasserRating'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
        </a>
      </div>
      <div class="cell" ng-if="stats.statsFields.ThirdDownPercentage">
        <a href="#" ng-click="stats.orderByField='ThirdDownPercentage'; stats.reverseSort = !stats.reverseSort">
        3rd Down % <span ng-show="stats.orderByField == 'ThirdDownPercentage'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
        </a>
      </div>
      <div class="cell" ng-if="stats.statsFields.FirstDowns">
        <a href="#" ng-click="stats.orderByField='FirstDowns'; stats.reverseSort = !stats.reverseSort">
        1st downs <span ng-show="stats.orderByField == 'FirstDowns'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
        </a>
      </div>
      <div class="cell" ng-if="stats.statsFields.Penalties">
        <a href="#" ng-click="stats.orderByField='Penalties'; stats.reverseSort = !stats.reverseSort">
        Penalties <span ng-show="stats.orderByField == 'Penalties'"><span ng-show="!stats.reverseSort">v</span><span ng-show="stats.reverseSort">^</span></span>
        </a>
      </div>
    </div>

    <div class="row" ng-repeat="Team in stats.teams|orderBy:stats.orderByField:stats.reverseSort">
      <div class="cell left" id="teamCell">
        <a ui-sref="teamPage({index: Team.Team})">{{Team.TeamName}}</a>
      </div>
      <div class="cell" ng-if="stats.statsFields.PassingYards">
        {{Team.PassingYards}}
      </div>
      <div class="cell"  ng-if="stats.statsFields.RushingYards">
        {{Team.RushingYards}}
      </div>
      <div class="cell" ng-if="stats.statsFields.Score">
        {{Team.Score}}
      </div>
      <div class="cell" ng-if="stats.statsFields.Touchdowns">
        {{Team.Touchdowns}}
      </div>
      <div class="cell" ng-if="stats.statsFields.TurnoverDifferential">
        {{Team.TurnoverDifferential}}
      </div>
      <div class="cell" ng-if="stats.statsFields.OffensiveYards">
        {{Team.OffensiveYards}}
      </div>
      <div class="cell"  ng-if="stats.statsFields.OffensiveYardsPerPlay">
        {{Team.OffensiveYardsPerPlay}}
      </div>
      <div class="cell" ng-if="stats.statsFields.PassingYardsPerAttempt">
        {{Team.PassingYardsPerAttempt}}
      </div>
      <div class="cell" ng-if="stats.statsFields.PasserRating">
        {{Team.PasserRating}}
      </div>
      <div class="cell" ng-if="stats.statsFields.ThirdDownPercentage">
        {{Team.ThirdDownPercentage}}
      </div>
      <div class="cell" ng-if="stats.statsFields.FirstDowns">
        {{Team.FirstDowns}}
      </div>
      <div class="cell" ng-if="stats.statsFields.Penalties">
        {{Team.Penalties}}
      </div>
    </div>
  </div>
</div>
</div>
 -->