@import '../common'

  .navbar {
    margin 0
    font-family fantasy
  }
  .nav-container {
    border-top 8px solid #0E4362
    border-bottom 8px solid #0E4362
    width 100%
    margin 0 auto
    border-radius 1%
    background-color #f0f8ff
    padding 0.5em
  }

  .title {
    text-align center
  }
  .title h1 {
    font-size 2.45em
    font-weight 100
    color #0E4362
  }
  .logo {
    display flex
    justify-content center
    align-items center 
  }

  .logo span {
    margin 0
    margin-bottom 0.25em
    margin-right 1em
    font-size 1.25em
    font-weight 100
    color #0E4362
  }
  .logo img {
    height 32px
    height 40px
    background-color white
    border 2px solid gray
    border-radius 25px
    margin-bottom 1em
  }

@media screen and (min-width: 420px) {
  .title h1 {
    font-size 2.65em
  }

  .logo span {
    font-size 1.55em
  }

  .logo img {
    height 34px
  }
}

@media screen and (min-width: 600px) {
  .title h1 {
    font-size 2.9em
  }

  .logo h2 {
    font-size 1.6em
  }

  .logo img {
    height 35px
  }
}

@media screen and (min-width: 900px) {
  .title h1 {
    font-size 3.25em
  }

  .logo h2 {
    font-size 1.7em
  }

  .logo img {
    height 40px
    background-color white
    border 2px solid gray
    border-radius 25px
    margin-bottom 1em
  }
}
