	.container
		width 100%
		display flex
		justify-content center

	.wrapper-tp
		width 23.5%
		display inline-table

	#main 
		background-color #0E4362
		padding 0.25em

	#main > .tp 
		padding 0.25em

	.tp 
		padding 1em 2em

	.right 
		text-align right

	.team-heading h1 
		text-align center
		margin 1.5em 0

	.team-content 
		padding 0 0 4em 0

	.team-table
		width 0