<navbar></navbar>
<div class="Team-content">
	<div class="Team-top">
		<div class="Team-heading" ng-repeat="Team in stats.teams">
	  		<h1>{{TeamPage.PassingYards}} | Report Card</h1>
	  </div>
	</div>

<!--   <div class="wrapper">
    <div class="table Team-table">
      <div class="row header">
        <div class="cell tp">
          <span>Category</span>
        </div>
        <div class="cell">
          <span>Rank</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.passYds">
          <span>Passing Yards</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.passYds">
          <span>{{TeamPage.passYdsRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.rushYds">
          <span>Rushing Yards</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.rushYds">
          <span>{{TeamPage.rushYdsRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.score">
          <span>Score</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.score">
          <span>{{TeamPage.scoreRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.tds">
          <span>TD's</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.tds">
          <span>{{TeamPage.tdsRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.toDiff">
          <span>Turnover Differential</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.toDiff">
          <span>{{TeamPage.toDiffRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.opponentPassingYards">
          <span>Opponent Passing Yards</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.opponentPassingYards">
          <span>{{TeamPage.opponentPassingYardsRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.opponentRushingYards">
          <span>Opponent Rushing Yards</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.opponentRushingYards">
          <span>{{TeamPage.opponentRushingYardsRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.offYds">
          <span>Offensive Yards</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.offYds">
          <span>{{TeamPage.offYdsRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.offYdsPlay">
          <span>Offensive Yards per Play</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.offYdsPlay">
          <span>{{TeamPage.offYdsPlayRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.takeways">
          <span>Takeaways</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.takeways">
          <span>{{TeamPage.takewaysRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.takeways">
          <span>Takeaways</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.takeways">
          <span>{{TeamPage.takewaysRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.passYdsAtt">
          <span>Pass Yards per Attempt</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.passYdsAtt">
          <span>{{TeamPage.passYdsAttRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.passRtg">
          <span>Passer Rating</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.passRtg">
          <span>{{TeamPage.passRtgRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.thirdDownPerc">
          <span>Third Down %</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.thirdDownPerc">
          <span>{{TeamPage.thirdDownPercRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.penalties">
          <span>Penalties</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.penalties">
          <span>{{TeamPage.penaltiesRank}}</span>
        </div>
      </div>
      <div class="row">
        <div class="cell tp" ng-if="TeamPage.statsFields.firstDowns">
          <span>First Downs</span>
        </div>
        <div class="cell tp" ng-if="TeamPage.statsFields.firstDowns">
          <span>{{TeamPage.firstDownsRank}}</span>
        </div>
      </div>
    </div>
  </div> -->
</div>