	#team-container
		width 100%

	#main 
		background-color #0E4362
		padding 0.25em

	#main > .tp 
		padding 0.25em

	.tp 
		padding 1em 2em

	.right 
		text-align right

	.team-heading h1 
		text-align center
		margin 1.5em 0

	.team-content 
		padding 0 0 4em 0

	.team-table
		width 0

@media screen and (min-width:37em)
	#team-container 
		text-align center

	.wrapper-tp
		width 45%
		display inline-table
		margin 1em

@media screen and (min-width:57.75em)
	.wrapper-tp
		width 22%
		margin 0
